@media all and (min-width: 480px) {
	.Login {
		padding: 60px 0;
	}

	.Login form {
		margin: 0 auto;
		max-width: 320px;
	}

	h3 {
		text-align: center;
		text-transform: uppercase;
	}
	.Login .login-image {
		border-radius: 50%;
		height: 80px;
		width: 80px;
	}
	.Login .logo {
		justify-content: center;
		text-align: center;
	}

}